:root{
    --black-700: #1d1f23;
    --gray-700: #123e35 ;
    --cor-3: #2d4a43;
    --cor-4: #69818d;
    --cor-5: #afb3b7;
    --cor-6: #5a636a;
    --white: #fff;
   
   }

   html{
    background-color: var(--black-700);
    font-size: 16px;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}